<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试域对象共享数据</title>
</head>
<body>

<a th:href="@{/scope/}">点我返回首页</a>

<h1>通过servlet原生api</h1>
<a th:href="@{/scope/testServletAPIPOST}">create shared data using servlet api</a><br>
<p th:text="${name1}"></p><br>

<h1>通过ModelAndView</h1>
<a th:href="@{/scope/testModelAndView}">create shared data using ModelAndView</a><br>
<p th:text="${name2}"></p><br>

<h1>通过Model</h1>
<a th:href="@{/scope/testModel}">create shared data using Model</a><br>
<p th:text="${name3}"></p><br>

<h1>通过Map</h1>
<a th:href="@{/scope/testMap}">create shared data using Map</a><br>
<p th:text="${name4}"></p><br>

<h1>通过ModelMap</h1>
<a th:href="@{/scope/testModelMap}">create shared data using ModelMap</a><br>
<p th:text="${name5}"></p><br>

</body>
</html>