<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnJava.mybatis.mapper.CacheMapper">
    <!--
        开启二级缓存:
        eviction-缓存回收策略: LRU/FIFO/软引用SOFT/WEAK弱引用
        size-缓存容量
        readOnly-只读缓存/读写缓存
    -->
    <cache eviction="LRU"/>

    <!--Emp SessionInsert(@Param("eid") Integer eid);-->
    <select id="SessionSelect" resultType="com.learnJava.pojo.Emp">
        select *
        from t_emp
        where eid=#{eid};
    </select>
</mapper>